@model StoreMVC.ViewModels.RandomCycleViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cycles</h1>
@{
    if (Model.Cycles.Count == 0)
    {
        <p>No Cycles are available at the moment.</p>
    }
    else
    {
        foreach (var cycle in Model.Cycles)
        {
            <h3>@cycle.Name</h3>
        }
    }
}
